<% include ../partials/header %>

<!-- the "show-div" class is for the media queries to target, in order to make the text width greater when the screen
width is smaller (for example, on a mobile device)  -->
<div class="background-div"></div>
<div class="container content-beginning">
    <div class="row">
        <!--<a href="/blog">Go Back</a>-->
        <p class="blog-categ-date"><%= blog.category %> &bull; <%= blog.created.toDateString() %></p>
        <h1 class="blog-title"><%= blog.title %></h1>
        <div class="blog-body-div">
            <img class="blog-show-img" src="<%= blog.image %>">
            <div class="blog-img-desc"><%- blog.image_desc %></div>
            <div class="blog-body"><%- blog.body %></div>
            <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-warning" href="/blog/<%= blog._id %>/edit">Edit</a>
            <% } %>
            <!-- triggers the DESTROY Route by sending a DELETE request to "/blogs/id". -->
            <!-- Again, we use method-override since HTML does not support DELETE requests by default -->
            <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
                <form id="delete" action="/blog/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline-block;
                margin-left: 10px">
                    <button class="btn btn-danger">Delete</button>
                </form>
            <% } %>
        </div>
        
    </div>
    
</div>

<% include ../partials/footer %>