<% include ./partials/header %>

<div id="about-intro-photo" class="sixteen wide column">
    <div class="blog-background parallax">
        <div class="layer">
            <div class="about-intro-text">Blog</div>
        </div>
    </div>
</div>

<!-- will need to put all the blog post data into a database; will also need to have a way to easily create blog posts -->
<div class="container" style="padding: 4em 0">
    
    <div class="row flex">
        <% blogs.forEach(function(blog) { %>
            <div class="col-lg-4 col-sm-6 col-xs-12">
    			<div class="thumbnail" style="border:none">
    				<!--<img class="thumb-img" src="/images/enigma.jpg">-->
    				<a href="/blog/<%= blog._id %>"><img class="blog-img" src="<%= blog.image %>"></a>
    				<div class="caption">
    				    <p style="color: gray"><span><%= blog.category %> &bull; <%= blog.created.toDateString() %></span></p>
    				    <a href="/blog/<%= blog._id %>"><h3 style="margin-top: 0"><%= blog.title %></h3></a>
                        <p><%- blog.body.substring(0, 100) + "..." %></p>
                        <a type="button" class="btn btn-success" href="/blog/<%= blog._id %>">Read More</a>
    				</div>
    			</div>
    		</div>
    	<% }); %>
	</div>
    
</div>

<% include ./partials/footer %>