<% include ./partials/header %>

<div id="intro_photo">
	<!-- the "background-div" is there to compare the div's height against the scroll-top measurement, so that the nav bar can
	fade-in when scroll-height >= background-div's height.-->
	<!-- the "background-img" is there to show that this page HAS a background image. -->
    <div class="portfolio-background parallax background-div background-img">
        <div class="layer">
            <div class="about-intro-text fade-in-text"><i class="fa fa-folder-open-o" aria-hidden="true"></i> My Portfolio</div>
            <p class="p contact-subtitle delay-fade-in-text"><small>Some of the work I've done!</small></p>
        </div>
    </div>
</div>

<!--<div class="container content-beginning">-->
<div class="portfolio-div">
	<div class="container">
		
		<% if (currentUser) { %>
			<a type="button" class="btn btn-primary btn-lg" href="/portfolio/new" style="margin-top: 20px">Create New Entry</a>
		<% } %>
		
		<h1 class="portfolio-section-title">Software Projects</h1>
		<p class="portfolio-section-subtitle small">Projects ranging from university course projects to personal side projects</p>
		
		<hr>
		
		<div class="row flex">
			<% portfolios.forEach(function(portfolio) { %>
				<% if (portfolio.type === "Work") { %>
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="portfolio-thumbnail thumbnail portfolio-thumb-fx">
							<a href="/portfolio/<%= portfolio._id %>"><img class="thumb-img" src="<%= portfolio.image %>"></a>
							<div class="portfolio-thumb-caption caption">
								<p><%= portfolio.created.toDateString() %></p>
								<a href="/portfolio/<%= portfolio._id %>"><h3 style="margin-top: 0"><%= portfolio.title %></h3></a>
								<p><%- portfolio.body.substring(0, 100) + "..." %></p>
								<a type="button" class="btn btn-success" href="/portfolio/<%= portfolio._id %>">Read More</a>
							</div>
						</div>
					</div>
				<% } %>
			<% }); %>
		</div>
		
		<hr>

		<h1 class="portfolio-section-title">Artwork</h1>
		<p class="portfolio-section-subtitle small">"Art is the highest form of human expression"</p>
		
		<hr>
		
		<div class="row flex">
			<% portfolios.forEach(function(portfolio) { %>
				<% if (portfolio.type === "Art") { %>
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="portfolio-thumbnail thumbnail portfolio-thumb-fx">
							<div class="portfo-thumb-limit">
								<!-- the href source of "javascript:;" keeps the page on its current scroll position, rather than
								jumping to the top of the page (as it did when href="#") -->
								<a href="javascript:;" class="pop">
									<img class="imageresource" src="<%= portfolio.image %>">
									<!--Click to Enlarge-->
								</a>
							</div>
							<a type="button" class="btn btn-success" href="/portfolio/<%= portfolio._id %>"
							style="margin-top: 7px; margin-bottom: 2px">
								Read More
							</a>
						</div>
					</div>
				<% } %>
			<% }); %>
		</div>
		
		
	</div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<img src="" class="imagepreview">
	</div>
</div>

<% include ./partials/footer %>